#pstulist{
    display: table;
    margin: 0 auto;
    list-style: square;
}
#pstolist{
    list-style-position: inside;
}
.ribulist{
    display: table;
    margin: 0 auto;
    list-style: circle;
}
.ribolist{
    list-style-position: inside;
}
#homepage{
    background-image: url(img/background3-min.jpg);
    background-size: cover;
    height: auto;
    width: fit-content;
}
.headr{
    text-align: center;
    text-transform: uppercase;
}

#hmpg{
    background-image: url(img/background3-min.jpg);
    background-size: cover;   
    width: 90%;
    height: auto;
}
#homepage2{
    background-image: url(img/background3-min.jpg);
    background-size: cover;   
    width: 90%;
    height: auto;
}
body{
    color: rgb(0, 0, 0);
}

a{
    font-style: italic;
    color: black;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

a:hover{
    color: blue;
    cursor: pointer;
    border: solid 2px;
    border-radius: 20px;
}
.ulpork{
    list-style: inside;
    display: table;
    list-style-position: inside;
    list-style: circle;
    margin: 0 auto;
}
.olpork{
    display: table;
    list-style-position: inside;
}